.left-block.doctor_picture {
border-radius:50%;
}

.left-block.doctor_picture img{
	margin:auto;
	display:block;
	border-radius: 50%;
}
.entry-photo.single_doctor_picture img {
    margin: 0 auto;
    display:block;
    margin-top:30px;
}
.doctor_full_info{
    text-align:center;
}
.post-type-archive-doctor_directory p.availability {
    padding:0px;
    margin:0px
}
.post-type-archive-doctor_directory .product-list.list .right-block .product-desc{
	margin-top:5px;
}
.post-type-archive-doctor_directory .product-list.list .right-block{
	line-height:20px;
}
.post-type-archive-doctor_directory .product-list li .add-to-cart a{
	background-image:none;
}

.post-type-archive-doctor_directory .product-list li .add-to-cart:hover{
	background-image:none;
}

a.button.product_type_simple.view_details {

	position:absolute;
	right:20px;
	background-color:#0060a7;
	top: 40%;
}
a.button.product_type_simple.view_details:hover {

    position:absolute;
    right:20px;
    background-color:#0060a7;
    color:#dcdcdc;
    top: 40%;
}

nav.custom-pagination {
    padding:10px 20px;
}